* {
  margin: 0;
  /* font-family: 'Roboto Mono', monospace; */
}

body {
  background: #f5f6fa;
  font-family: 'Roboto Mono', monospace !important;
  background-image: url('./assets/background-image.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  /* font-family: 'Roboto Mono', monospace; */
  color: gray;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.MuiPaper-root.MuiCard-root {
  box-shadow: 10px 10px 34px -14px rgba(0,0,0,0.75);
  border-radius: 8px;
}

.app__left {
  flex: 0.8;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__dropdown {
  /* width: 200px; */
}

.app__stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    padding-top: 20px;
  }
}